@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* IMPORTS */
@import "../normalize.css";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  width: 100%;
  padding: 2em;
  background-color: #323232;
}
.footer__title {
  margin-bottom: 1em;
  font-size: 1.6em;
  letter-spacing: 0.05em;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
.footer__list {
  list-style-type: none;
  color: #fff;
}
.footer__list-icon {
  margin-right: 10px;
}
.footer__list-item {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.footer__list-item a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-flow: row wrap;
  }
  .footer__title {
    font-size: 3em;
    margin-bottom: 0;
  }
  .footer__list {
    width: 100%;
  }
  .footer__list-item {
    margin-right: 0.5em;
    display: inline;
  }
  #suggest-item {
    color: #FF79da;
  }
  #partner-item {
    color: #99e2d0;
  }
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.9em 0 1.9em 0;
  background-color: #fff;
}
.header__logo {
  width: 16em;
  height: fit-content;
}

.header-menu {
  padding: 1.8em 10em 1.3em 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header-menu a {
  text-decoration: none;
  color: #000;
}
.header-menu__icon {
  font-size: 2.1em;
}
.header-menu__logo {
  text-align: center;
  width: 15em;
  height: 2.7em;
}

@media screen and (min-width: 768px) {
  .header-menu {
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5em;
  }
  .header-menu__logo {
    padding: 0;
  }
}
.location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  height: 5.5em;
  background-color: #eaeaea;
  box-shadow: 0 5px 5px 0 #bfbdbd inset;
}
.location__title {
  font-weight: 400;
  font-size: 1.5em;
}
.location__icon {
  font-size: 1.5em;
}
.location__title {
  color: #000;
}

@media screen and (min-width: 992px) {
  .location {
    background-color: transparent;
  }
}
.explore {
  padding: 3.5em 3.5em 5.5em 3.5em;
  display: flex;
  flex-flow: column wrap;
  gap: 4em;
  align-items: center;
  background-color: #f5f5f5;
}
.explore__heading {
  font-size: 2.3em;
  color: #000;
}
.explore__description {
  font-weight: 200;
  font-size: 1.7em;
  text-align: center;
}
.explore__btn {
  padding: 1em 2em;
  border: none;
  border-radius: 7em;
  background-image: linear-gradient(#FF79da, #9356dc);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 6px 12px 0 #bfbdbd;
  cursor: pointer;
}
.explore__btn:hover {
  filter: brightness(106%);
  background-image: linear-gradient(#FF79da, #9356dc);
  box-shadow: 0 8px 10px 0 #8b8b8b;
}

.instructions {
  padding: 4.5em 3em 8em 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3em;
  background-color: #fff;
}
.instructions__heading {
  margin-bottom: 0.2em;
  font-size: 2.3em;
}
.instructions__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid transparent;
  background-color: #f7f7f7;
  border-radius: 2em;
  padding: 2.1em 2.5em 2.1em 0.5em;
  width: 100%;
  box-shadow: 0 5px 20px 0 #bfbdbd;
}
.instructions__chip {
  position: relative;
  right: 1.3em;
  top: 2px;
  width: 2em;
  height: 2em;
  padding: 8px;
  border-radius: 100px;
  border: 2px solid transparent;
  background-color: #9356dc;
  font-size: 1.5em;
  color: #fff;
  overflow: hidden;
}
.instructions__bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.2em;
  padding: 0.5em;
  font-weight: 500;
  font-size: 1.7em;
}
.instructions__txt {
  color: black;
}

#instructions__card--highlighted {
  background-color: #ecddfb;
}

i.fa-solid.fa-mobile-screen-button::before,
i.fa-solid.fa-list::before {
  color: #8b8b8b;
  font-size: 1.3em;
}

#instructions__chip--highlighted {
  color: #9356dc;
  font-size: 1.3em;
}

@media screen and (min-width: 992px) {
  .instructions {
    gap: 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.5em 4.5em 2.5em 4.5em;
    box-shadow: 0 5px 20px 0 #bfbdbd inset;
  }
  .instructions__heading {
    margin-bottom: 0;
    font-size: 2em;
    color: #9356dc;
  }
  .instructions__card {
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1.5em;
    height: 15em;
    width: 18%;
    background-color: transparent;
    box-shadow: none;
  }
  .instructions__chip {
    left: 0;
    padding: 0;
    background-color: transparent;
    font-size: 2.8em;
    border-radius: 0;
    color: #9356dc;
  }
  .instructions__bar {
    justify-content: center;
    gap: 1em;
    padding: 0;
    font-size: 1.2em;
    width: 80%;
  }
  #instructions__card--highlighted {
    box-shadow: 0 5px 20px 0 #bfbdbd;
  }
}
.restaurants {
  display: flex;
  flex-flow: column wrap;
  gap: 0.6em;
  padding: 30px 30px 3.6em 30px;
  width: 100%;
  background-color: #f5f5f5;
}
.restaurants__heading {
  margin: 1.4em 0 0.9em 0;
  font-size: 2.2em;
}
.restaurants__card {
  margin-bottom: 20px;
  height: 23.5em;
  border-color: transparent;
  border-radius: 1.2em;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 #bfbdbd;
  width: 100%;
}
.restaurants__card a {
  text-decoration: none;
  color: #000;
}
.restaurants__card-img-container {
  position: relative;
}
.restaurants__card-img-container-img {
  border-radius: 1.2em 1.2em 0 0;
  object-fit: cover;
  width: 100%;
  height: 16.5em;
}
.restaurants__card-img-container-label {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5em 2em;
  border-radius: 0.2em;
  background-color: #99e2d0;
  font-weight: 600;
  font-size: 1.2em;
  color: #31947b;
}
.restaurants__card-img {
  border-radius: 1.2em 1.2em 0 0;
  object-fit: cover;
  width: 100%;
  height: 16.5em;
}
.restaurants__card-img-container-label {
  padding-top: 0.5em;
}
.restaurants__card-caption-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.restaurants__card-heading {
  margin: 5px 0 0 15px;
  letter-spacing: 0.3px;
  font-size: 1.5em;
}
.restaurants__card-info {
  margin-left: 15px;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}
.restaurants__card-heart {
  margin-right: 0.5em;
  font-size: 2.5em;
}

@media screen and (min-width: 992px) {
  .restaurants {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2em;
    padding: 3em 10em 8em 10em;
  }
  .restaurants__heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 3em;
    width: 100%;
  }
  .restaurants__card {
    margin-bottom: 20px;
    height: 23.5em;
    border-color: transparent;
    border-radius: 1.2em;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #bfbdbd;
    width: 45%;
  }
  .restaurants__card a {
    text-decoration: none;
    color: #000;
  }
  .restaurants__card-img-container {
    position: relative;
  }
  .restaurants__card-img-container-img {
    border-radius: 1.2em 1.2em 0 0;
    object-fit: cover;
  }
  .restaurants__card-img-container-label {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5em 2em;
    border-radius: 0.2em;
    background-color: #99e2d0;
    font-weight: 600;
    font-size: 1.2em;
    color: #31947b;
  }
  .restaurants__card-img {
    border-radius: 1.2em 1.2em 0 0;
    object-fit: cover;
  }
  .restaurants__card-img-container-label {
    padding-top: 0.5em;
  }
  .restaurants__card-caption-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  .restaurants__card-heading {
    margin: 5px 0 0 15px;
    letter-spacing: 0.3px;
    font-size: 1.5em;
  }
  .restaurants__card-info {
    margin-left: 15px;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    line-height: 1.7em;
  }
}
body {
  background-color: #f5f5f5;
}

.hero {
  position: relative;
  width: 100%;
}
.hero__img {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 30em;
}

/*# sourceMappingURL=index.css.map */
