@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* IMPORTS */
@import "../normalize.css";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

@keyframes loaderBackground {
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderInner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.footer {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  width: 100%;
  padding: 2em;
  background-color: #323232;
}
.footer__title {
  margin-bottom: 1em;
  font-size: 1.6em;
  letter-spacing: 0.05em;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
.footer__list {
  list-style-type: none;
  color: #fff;
}
.footer__list-icon {
  margin-right: 10px;
}
.footer__list-item {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.footer__list-item a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-flow: row wrap;
  }
  .footer__title {
    font-size: 3em;
    margin-bottom: 0;
  }
  .footer__list {
    width: 100%;
  }
  .footer__list-item {
    margin-right: 0.5em;
    display: inline;
  }
  #suggest-item {
    color: #FF79da;
  }
  #partner-item {
    color: #99e2d0;
  }
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.9em 0 1.9em 0;
  background-color: #fff;
}
.header__logo {
  width: 16em;
  height: fit-content;
}

.header-menu {
  padding: 1.8em 10em 1.3em 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header-menu a {
  text-decoration: none;
  color: #000;
}
.header-menu__icon {
  font-size: 2.1em;
}
.header-menu__logo {
  text-align: center;
  width: 15em;
  height: 2.7em;
}

@media screen and (min-width: 768px) {
  .header-menu {
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5em;
  }
  .header-menu__logo {
    padding: 0;
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  animation: loaderBackground 3s ease-in-out 1s forwards;
}
.loader__border {
  width: 6em;
  height: 6em;
  border: 0.2em solid #9356dc;
  animation: loader 2500ms infinite ease-in-out;
}
.loader__border-icon {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 3em;
  color: #fff;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #9356dc;
  animation: loaderInner 2500ms infinite ease-in-out;
}

.location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  height: 5.5em;
  background-color: #eaeaea;
  box-shadow: 0 5px 5px 0 #bfbdbd inset;
}
.location__title {
  font-weight: 400;
  font-size: 1.5em;
}
.location__icon {
  font-size: 1.5em;
}
.location__title {
  color: #000;
}

@media screen and (min-width: 992px) {
  .location {
    background-color: transparent;
  }
}
.explore {
  padding: 3.5em 3.5em 5.5em 3.5em;
  display: flex;
  flex-flow: column wrap;
  gap: 4em;
  align-items: center;
  background-color: #f5f5f5;
}
.explore__heading {
  font-size: 2.3em;
  color: #000;
}
.explore__description {
  font-weight: 200;
  font-size: 1.7em;
  text-align: center;
}
.explore__btn {
  padding: 1em 2em;
  border: none;
  border-radius: 7em;
  background-image: linear-gradient(#FF79da, #9356dc);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 6px 12px 0 #bfbdbd;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
}
.explore__btn:hover {
  filter: brightness(106%);
  background-image: linear-gradient(#FF79da, #9356dc);
  transform: scale(1.03);
}

@media screen and (min-width: 992px) {
  .explore {
    background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  .explore__heading {
    color: #fff;
  }
  .explore__description {
    font-weight: 400;
    font-size: 1.7em;
    color: #fff;
  }
  .explore__btn {
    padding: 1em 2em;
    border: none;
    border-radius: 7em;
    background-image: linear-gradient(#FF79da, #9356dc);
    font-size: 1.6em;
    font-weight: 400;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
  }
  .explore__btn:hover {
    filter: brightness(106%);
    background-image: linear-gradient(#FF79da, #9356dc);
    transform: scale(1.03);
  }
}
.instructions {
  padding: 4.5em 3em 8em 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3em;
  background-color: #fff;
}
.instructions__heading {
  margin-bottom: 0.2em;
  font-size: 2.3em;
}
.instructions__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid transparent;
  background-color: #f7f7f7;
  border-radius: 2em;
  padding: 2.1em 2.5em 2.1em 0.5em;
  width: 100%;
  box-shadow: 0 5px 20px 0 #bfbdbd;
}
.instructions__chip {
  position: relative;
  right: 1.3em;
  top: 2px;
  width: 2em;
  height: 2em;
  padding: 8px;
  border-radius: 100px;
  border: 2px solid transparent;
  background-color: #9356dc;
  font-size: 1.5em;
  color: #fff;
  overflow: hidden;
}
.instructions__bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.2em;
  padding: 0.5em;
  font-weight: 500;
  font-size: 1.7em;
}
.instructions__txt {
  color: black;
}

#instructions__card--highlighted {
  background-color: #f2eafb;
}

i.fa-solid.fa-mobile-screen-button::before,
i.fa-solid.fa-list::before {
  color: #8f8f8f;
  font-size: 1.3em;
}

#instructions__chip--highlighted {
  color: #9356dc;
  font-size: 1.3em;
}

@media screen and (min-width: 992px) {
  .instructions {
    gap: 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.5em 4.5em 2.5em 4.5em;
    box-shadow: 0 5px 20px 0 #bfbdbd inset;
  }
  .instructions__heading {
    margin-bottom: 0;
    font-size: 2em;
    color: #9356dc;
  }
  .instructions__card {
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1.5em;
    height: 15em;
    width: 18%;
    background-color: transparent;
    box-shadow: none;
  }
  .instructions__chip {
    left: 0;
    padding: 0;
    background-color: transparent;
    font-size: 2.8em;
    border-radius: 0;
    color: #9356dc;
  }
  .instructions__bar {
    justify-content: center;
    gap: 1em;
    padding: 0;
    font-size: 1.2em;
    width: 80%;
  }
  #instructions__card--highlighted {
    box-shadow: 0 5px 20px 0 #bfbdbd;
  }
}
.restaurants {
  display: flex;
  flex-flow: column wrap;
  gap: 0.6em;
  padding: 30px 30px 3.6em 30px;
  width: 100%;
  background-color: #f5f5f5;
}
.restaurants__heading {
  margin: 1.4em 0 0.9em 0;
  font-size: 2.2em;
}
.restaurants__card {
  margin-bottom: 20px;
  height: 23.5em;
  border-color: transparent;
  border-radius: 1.2em;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 #bfbdbd;
  width: 100%;
  transform: scale(1);
  transition: transform 400ms;
}
.restaurants__card a {
  text-decoration: none;
  color: #000;
}
.restaurants__card-img-container {
  position: relative;
}
.restaurants__card-img-container-img {
  border-radius: 1.2em 1.2em 0 0;
  object-fit: cover;
  width: 100%;
  height: 16.5em;
}
.restaurants__card-img-container-label {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5em 2em;
  border-radius: 0.2em;
  background-color: #99e2d0;
  font-weight: 600;
  font-size: 1.2em;
  color: #278870;
}
.restaurants__card-img {
  border-radius: 1.2em 1.2em 0 0;
  object-fit: cover;
  width: 100%;
  height: 16.5em;
}
.restaurants__card-img-container-label {
  padding-top: 0.5em;
}
.restaurants__card-caption-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.restaurants__card-heading {
  margin: 5px 0 0 15px;
  letter-spacing: 0.3px;
  font-size: 1.5em;
}
.restaurants__card-info {
  margin-left: 15px;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}
.restaurants__card-heart {
  margin-right: 0.5em;
  font-size: 2.5em;
}
.restaurants__card:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 992px) {
  .restaurants {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2em;
    padding: 3em 10em 8em 10em;
  }
  .restaurants__heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 3em;
    width: 100%;
  }
  .restaurants__card {
    margin-bottom: 20px;
    height: 23.5em;
    border-color: transparent;
    border-radius: 1.2em;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #bfbdbd;
    width: 45%;
  }
  .restaurants__card a {
    text-decoration: none;
    color: #000;
  }
  .restaurants__card-img-container {
    position: relative;
  }
  .restaurants__card-img-container-img {
    border-radius: 1.2em 1.2em 0 0;
    object-fit: cover;
  }
  .restaurants__card-img-container-label {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: 1.2em;
  }
  .restaurants__card-img {
    border-radius: 1.2em 1.2em 0 0;
    object-fit: cover;
  }
  .restaurants__card-img-container-label {
    padding-top: 0.5em;
  }
  .restaurants__card-caption-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  .restaurants__card-heading {
    margin: 5px 0 0 15px;
    letter-spacing: 0.3px;
    font-size: 1.5em;
  }
  .restaurants__card-info {
    margin-left: 15px;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    line-height: 1.7em;
  }
}
body {
  background-color: #f5f5f5;
}

.hero {
  position: relative;
  width: 100%;
}
.hero__img {
  border-radius: 0;
  object-fit: cover;
  width: 100%;
  height: 22em;
}

.menu {
  position: relative;
  bottom: 2.7em;
  width: 100%;
  border-radius: 3em 3em 0 0;
  background-color: #f5f5f5;
}
.menu__heading-container {
  display: flex;
  flex-flow: row wrap;
  padding: 3em 2em 2.5em 2em;
  justify-content: space-between;
  align-items: center;
}
.menu__heading {
  font-family: "Shrikhand", cursive;
  font-size: 2.7em;
  width: 10em;
}
.menu__icon {
  font-size: 2.7em;
}
.menu__list {
  padding: 0 2em 3em 2em;
}
.menu__list-heading {
  font-weight: 300;
  font-size: 1.5em;
}
.menu__list-heading-underline {
  margin: 0.5em 0 1.5em 0;
  width: 4em;
  height: 0.3em;
  background-color: #99e2d0;
}
.menu__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1.2em;
  border-radius: 1.5em;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 #bfbdbd;
  overflow: hidden;
}
.menu__card-left {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;
  padding: 1.2em 0 1.2em 1.2em;
}
.menu__card-right {
  display: flex;
  flex-flow: row wrap;
}
.menu__card-heading {
  font-size: 1.5em;
  font-weight: 500;
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card-info {
  font-size: 1.2em;
  font-weight: 300;
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card-price {
  margin: 3em 0.3em 0 0;
  font-size: 1.2em;
}
.menu__card:hover .select {
  margin-right: 0;
}
.menu__card:hover .select-icon::after {
  transform: rotate(360deg);
}

.select {
  margin-right: -3em;
  transform: translateX(25%);
  transition: 500ms ease-in-out;
}
.select-icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  width: 3.75em;
  height: 100%;
  background-color: #99e2d0;
  color: #fff;
}
.select-icon::after {
  display: flex;
  flex-flow: row wrap;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
  transform: rotate(-180deg);
  transition: 600ms ease-in-out;
}

.menu-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2em 0 6.5em 0;
}
.menu-btn-order {
  padding: 0.8em 4em 0.8em 4em;
  border: none;
  border-radius: 7em;
  background-image: linear-gradient(#FF79da, #9356dc);
  font-size: 1.6em;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 6px 12px 0 #bfbdbd;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
}
.menu-btn-order:hover {
  filter: brightness(106%);
  background-image: linear-gradient(#FF79da, #9356dc);
  transform: scale(1.03);
}

/*# sourceMappingURL=index.css.map */
