/* IMPORTS */
@import "../normalize.css";

// GLOBAL STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #212427;
}
// END GLOBAL STYLES

// LIKE BUTTON STYLES
.container--heart {
    display: grid; // Stack FA heart icons over one another
}

.fa-heart {
    font-size: 2.5rem;
}

.heart-black {
    grid-column: 1; 
    grid-row: 1;
}

.heart.fa-heart {
    grid-column: 1; 
    grid-row: 1;
    opacity: 0; 
    transition: opacity 400ms;
    background: linear-gradient($colorPrimary, $colorSecondary); 
    -webkit-background-clip: text; // Trims background to fit the shape of the text
    -webkit-text-fill-color: transparent; // Sets fill color of FA icon to transparent
    font-weight: 900; // Displays solid icon rather than outline

    &:hover {
        opacity: 1;
    }

}
// END LIKE BUTTON STYLES
