// This file stores home page styles

// LOADER SECTION STYLES
.loader {
    position: fixed; // Ensures the loader remains in center of screen regardless of scroll
    display: flex; // Sets flex context for alignment of items within the container
    justify-content: center; // Aligns loader image in center
    align-items: center; // Aligns loader image in center
    z-index: 10; // Ensures loader is presented on top-most layer
    background-color: #fff; // Sets color of screen behind box animation (blocking out actual site)
    width: 100%; // Ensures loader takes up full width of screen
    height: 100%; // Ensures loader takes up full height of screen
    animation: loaderBackground 3000ms 1000ms forwards; // Refers to keyframe animation, makes sure the loader preview fades out after three seconds, revealing the site

    &__border {
        width: 6rem; // Defines box width
        height: 6rem; // Defines box height
        border: 0.2rem solid $colorPrimary;
        animation: loader 2500ms infinite forwards; // Defines the duration and the transitiion-timing-function of the loader keyframe animation
    
        &-icon {
            position: absolute;           
            bottom: 1.5rem; // Centers font awesome icon inside box
            left: 1.5rem; // Centers font awesome icon inside box
            font-size: 3rem; // Sets font awesome icon size
            color: #fff; // Sets font awesome icon colour
        }
    }

    &-inner {
        vertical-align: top; // Ensures the animation spans the whole box (top to bottom) during run-time
        display: inline-block; // Allows me to set a width to the contents of the box (icon and background color)
        width: 100%; // Ensures the inner spans 100% of the box
        background-color: $colorPrimary; // Sets colour inside the box
        animation: loaderInner 2500ms infinite forwards; // Calls to the keyframe animation I made, defining the speed and making sure it loops infinitely while the loading screen is on
    }
}
// END LOADER SECTION STYLES

// LOCATION SECTION STYLES
// LOCATION SECTION MOBILE STYLES
.location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 5.5rem;
    background-color: #eaeaea;
    box-shadow: 0 5px 5px 0 $colorBoxShadow inset;

    &__title {
        font-weight: 400;
        font-size: 1.5rem;
    }

    &__icon {
        font-size: 1.5rem;
    }

    &__title {
        color: #000;
    }
}
// END LOCATION SECTION MOBILE STYLES

// LOCATION SECTION TABLET AND DESKTOP STYLES
@media screen and (min-width: 992px) {
    .location {
        background-color: transparent;
    }
}
// END LOCATION SECTION TABLET AND DESKTOP STYLES
// END LOCATION SECTION STYLES

// EXPLORE SECTION STYLES
// END EXPLORE SECTION MOBILE STYLES
.explore {
    padding: 3.5rem 3.5rem 5.5rem 3.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    align-items: center;
    background-color: $colorLightGrey;

    &__heading {
        font-size: 2.3rem;
        color: #000;
    }

    &__description {
        font-weight: 200;
        font-size: 1.7rem;
        text-align: center;
    }

    &__btn {
        @include button;
    }
}
// END EXPLORE SECTION MOBILE STYLES

// EXPLORE SECTION TABLET AND DESKTOP STYLES
@media screen and (min-width: 992px) {
    .explore {
        background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"); // Sets image as background on resize
    
        &__heading {
            color: #fff;
        }
    
        &__description {
            font-weight: 400;
            font-size: 1.7rem;
            color: #fff;
        }
    
        &__btn {
            @include button($boxShadow: none);
        }
    }
}
// END EXPLORE SECTION TABLET AND DESKTOP STYLES
// END EXPLORE SECTION STYLES

// INSTRUCTIONS SECTION STYLES
// INSTRUCTIONS SECTION MOBILE STYLES
.instructions {
    padding: 4.5rem 3rem 8rem 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3rem;
    background-color: #fff;

    &__heading {
        font-size: 2.2rem;
        margin-bottom: 0.2rem;
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        border: 1px solid transparent;
        background-color: #f7f7f7;
        border-radius: 2rem;
        padding: 2.1rem 2.5rem 2.1rem 0.5rem;
        width: 100%;
        box-shadow: 0 5px 20px 0 $colorBoxShadow;
    }

    &__chip {
        position: relative; // Makes sure that the number chip slightly exceeds the boundary of the flex container
        right: 1.4rem;
        top: 5px;
        width: 2em;
        height: 2em;
        padding: 8px;
        border-radius: 100px;
        border: 2px solid transparent;
        background-color: $colorPrimary;
        font-size: 1.3rem;
        color: #fff;
        overflow: hidden;
    }

    &__bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1.2rem;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__txt {
        color: black;
        text-align: start;
    }
}

#instructions__card--highlighted {
    background-color: lighten($colorPrimary, 35); // Function lightens primary colour to highlight third instruction card
}

i.fa-solid.fa-mobile-screen-button::before, 
i.fa-solid.fa-list::before {
    color: darken($colorLightGrey, 40); // Function darkens grey colour otherwise used on site
    font-size: 1.7rem;
} // Sets primary color to icon in third instruction card

#instructions__chip--highlighted {
    color: $colorPrimary;
    font-size: 1.7rem;
}
// END INSTRUCTIONS SECTION MOBILE STYLES

// INSTRUCTIONS SECTION TABLET AND DESKTOP STYLES
@media screen and (min-width: 992px) {
    .instructions {
        justify-content: center;
        align-items: center;
        padding: 2.5rem 4.5rem 2.5rem 4.5rem;
        box-shadow: 0 5px 20px 0 $colorBoxShadow inset;

        &__heading {
            margin-bottom: 0;
            font-size: 2rem;
            color: $colorPrimary;
        }
    
        &__card {
            align-items: center;
            border: none;
            padding: 1.5rem;
            height: 15rem;
            width: 18%;
            box-shadow: none;
        }
    
        &__chip {
            right: 0;
            background-color: transparent;
            font-size: 2rem;
            border-radius: 0;
            color: $colorPrimary;
        }
    
        &__bar {
            justify-content: center;
            padding: 0;
            font-size: 18px;
        }

        .instructions-icon {
            display: none;
        }
    }

    #instructions__card--highlighted {
        box-shadow: 0 5px 20px 0 $colorBoxShadow;
    }

}
// END INSTRUCTIONS SECTION TABLET AND DESKTOP STYLES
// END INSTRUCTIONS SECTION STYLES

// RESTAURANTS SECTION STYLES
// RESTUARANTS SECTION MOBILE STYLES
.restaurants {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
    padding: 30px 30px 4rem 30px;
    width: 100%;
    background-color: $colorLightGrey;

    &__heading {
        margin: 1.6rem 0 1.6rem 0;
        font-size: 2.2rem;
    }

    &__card {
        margin-bottom: 20px;
        height: 23.5rem;
        border-color: transparent;
        border-radius: 1.2rem;
        background-color: #fff;
        box-shadow: 0 5px 15px 0 $colorBoxShadow;
        width: 100%;

        a {
            text-decoration: none;
            color: #000;
        }

        &-img-container {
            position: relative;

            &-img {
                border-radius: 1.2rem 1.2rem 0 0;
                object-fit: cover;
                width: 100%;
                height: 16.5rem;
            }
    
            &-label {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 0.5rem 2rem;
                border-radius: 0.2rem;
                background-color: $colorTertiary;
                font-weight: 600;
                font-size: 1.2rem;
                color: darken($colorTertiary, 40); // Function darkens tertiary color for "New" label text
            }
        }

        &-img {
            border-radius: 1.2rem 1.2rem 0 0;
            object-fit: cover;
            width: 100%;
            height: 16.5rem;
        }

        &-img-container-label {
            padding-top: 0.5rem;
        }

        &-caption-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.8rem 1rem 1rem;
        }

        &-heading {
            margin: 5px 0 0 15px;
            letter-spacing: 0.3px;
            font-size: 1.5rem;
        }

        &-info {
            margin-left: 15px;
            font-weight: 300;
            font-size: 1.5rem;
            letter-spacing: 0.3px;
            line-height: 2.5rem;
        }

        &:hover {
            box-shadow: 5px 5px 21px -7px black;
        }
    }
}
// END RESTUARANTS SECTION MOBILE STYLES

// RESTAURANTS SECTION TABLET AND DESKTOP STYLES
@media screen and (min-width: 992px) {
    .restaurants {
        flex-flow: row wrap;
        align-items: center;
        gap: 2rem;
        padding: 3rem 10rem 8rem 10rem;

        &__heading {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            font-size: 3rem;
            width: 100%;
        }
    
        &__card {
            width: 45%;
        }
    }
}
// RESTAURANTS SECTION TABLET AND DESKTOP STYLES
// END RESTAURANTS SECTION STYLES