// This file stores styles for the menu pages

// GLOBAL STYLES
body {
    background-color: $colorLightGrey;
}
// END GLOBAL STYLES

// HERO STYLES
.hero {
    position: relative;
    width: 100%;

    &__img {
        border-radius: 0;
        object-fit: cover;
        width: 100%;
        height: 22rem;
    }
}
// END HERO STYLES

// MENU SECTION MOBILE STYLES
.menu {
    position: relative; 
    bottom: 2.7rem; // Adjusts menu card position over hero image
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    background-color: $colorLightGrey;

    &__heading-container {
        display: flex;
        flex-flow: row nowrap;
        padding: 3rem 2rem 2.5rem 2rem;
        justify-content: space-between;
        align-items: baseline;
        gap: 30px;
    }

    &__heading {
        font-family: $logoFont;
        font-size: 2.7rem;
    }

    &__list {
        padding: 0 2rem 1rem 2rem;

        &-heading {
            font-weight: 300;
            font-size: 1.5rem;

            &-underline {
                margin: 0.5rem 0 1.5rem 0;
                width: 4rem;
                height: 0.3rem;
                background-color: $colorTertiary;
            }
        }
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px 0 $colorBoxShadow;
        overflow: hidden; // Prevents chip animation from showing
        opacity: 0;

        @for $i from 1 through 10 { // Applies transition incrementally from '1' to '10'
            &-#{$i} { // '$' defines 'i' as a variable that stands in for elements '1' - '10'
                animation: appear 1000ms ease-in-out forwards;
                animation-delay: ($i - 1) * 500ms; // Establishes incremental delay between the opacity animation on each card 
            }
        }
    
        &-left {
            display: flex;
            flex-flow: column nowrap; // Aligns content vertically on left hand side of card
            gap: 0.5rem;
            padding: 1.2rem 0 1.2rem 1.2rem;
            width: calc(100% - 60px); // Sets an ideal fixed width for card's first flex item by calculating length of total card minus the gap between flex item 1 and 2 minus the width of flex item 2
            transition: 500ms ease-in;
        }
    
        &-right {
            display: flex;
            flex-flow: row nowrap; // Aligns content horizontally on left hand side of card
            gap: 10px; // Sets gap between flex item 1 (price) & 2 (tick)
            width: 60px; // Sets fixed width 
            transform: translateX(20px); // Translates on x-axis by -35px on hover
            transition: 500ms ease-in-out;
        }
    
        &-heading {
            font-size: 1.5rem;
            font-weight: 500;
            // Below properties truncate flex elements with ellipses on card hover
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; 
        }
    
        &-info {
            font-size: 1.2rem;
            font-weight: 300;
            // Below properties truncate flex elements with ellipses on card hover
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
        &-price {
            padding-top: 3.5rem;
            font-size: 1.2rem;
        }
    
        &:hover {

            .menu__card-left {
                width: calc(100% - 115px) 
                // Adjusts width of card's first flex item by calculating length of total card 
                // minus the gap between flex item 1 and 2 minus the width of flex item 2
                // minus the width of the .select icon. This means the description in flex item 1 will 
                // be truncated when carscreen is resized 
            }

            .menu__card-right {
                transform: translateX(-35px); // Brings in tick icon
            }

            .select {        
                &-icon {
                    
                    &::after {
                        transform: rotate(360deg); // Applies the chip animation on card hover, rotates the icon by 360 degrees 
                    }
                }
            }
        }
    }
}

// HOVER ANIMATION STYLES
.select {

    &-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-right: 0.6rem; // Centers icon
        width: 3.75rem;
        height: 100%;
        background-color: $colorTertiary;
        color: #fff;

        &::after {
            display: flex;
            flex-flow: row nowrap;
            content: "\f058"; // Dynamically adds font awesome icon to page
            font-family: "Font Awesome 5 Free"; // Establishes font-type as FA font
            font-size: 1.5rem;
            font-weight: 700;
            font-style: normal; // Normalises icon display
            transform: rotate(-180deg); // Makes sure that animation requires more turning motion
            transition: 600ms ease-in-out; // Determines speed of icon spinning animation
        }
    }
}
// END HOVER ANIMATION STYLES

// BUTTON STYLES
.menu-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 5.5rem;

    &-order {
        @include button($padding: 1.5rem 6.5rem 1.5rem 6.5rem);
    }
}
// END BUTTON STYLES
// END MENU SECTION MOBILE STYLES

// MENU SECTION TABLET AND DESKTOP STYLES
@media screen and (min-width: 992px) {
    .menu {
        display: grid;
        justify-content: center;
    
        &__heading-container {
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    
        &__heading {
            font-size: 3.7rem;
        }
    
        &__list {

            &-heading {
                padding-top: 3rem;
            }

        }

        &__card {
            width: 700px;
        }

    }
}
// END MENU SECTION TABLET AND DESKTOP STYLES
// END MENU SECTION STYLES