// This file stores styles for the menu pages

// Whole page styling
body {
    background-color: $colorBackgroundLight;
}

// Hero image styling
.hero {
    position: relative;
    width: 100%;

    &__img {
        border-radius: 0;
        object-fit: cover;
        width: 100%;
        height: 22em;
    }
}

// Menu styling
.menu {
    position: relative; 
    bottom: 2.7em; // Adjusts menu card position over hero image
    width: 100%;
    border-radius: 3em 3em 0 0;
    background-color: $colorBackgroundLight;

    &__heading-container {
        @include flexRow;
        padding: 3em 2em 2.5em 2em;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-family: $logoFont;
        font-size: 2.7em;
        width: 10em;
    }

    &__icon {
        font-size: 2.7em;
    }

    &__list {
        padding: 0 2em 3em 2em;

        &-heading {
            font-weight: 300;
            font-size: 1.5em;

            &-underline {
                margin: 0.5em 0 1.5em 0;
                width: 4em;
                height: 0.3em;
                background-color: $colorTertiary;
            }
        }
    }

    &__card {
        @include flexRow;
        justify-content: space-between;
        margin-bottom: 1.2em;
        border-radius: 1.5em;
        background-color: #fff;
        box-shadow: 0 5px 15px 0 $colorBoxShadow;
        overflow: hidden; // Prevents chip animation from showing

        &-left {
            @include flexColumn;
            gap: 0.5em;
            padding: 1.2em 0 1.2em 1.2em;
        }

        &-right {
            @include flexRow;
        }

        &-heading {
            font-size: 1.5em;
            font-weight: 500;
            // Below properties truncates flex elements with ellipses on hover
            width: 12em;
            white-space: nowrap; // Collapses whitespace
            text-overflow: ellipsis; // Transforms the collapsed whitespace into ellipsis
            overflow: hidden; // Hides content that extends container boundary
        }

        &-info {
            font-size: 1.2em;
            font-weight: 300;
            width: 12em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-price {
            margin: 3em 0.3em 0 0;
            font-size: 1.2em;
        }

        &:hover {

            .select {
                margin-right: 0;
        
                &-icon {
                    
                    &::after {
                        transform: rotate(360deg); // Applies the chip animation on card hover 
                    }
                }
            }
        }
    }
}

// Hover chip animation styling
.select {
    margin-right: -3em; // Hides chip element before hover
    transform: translateX(25%); // Moves green chip to left
    transition: 500ms ease-in-out; // Determines speed of animation
    
    &-icon {
        @include flexRow;
        justify-content: center;
        align-items: center;
        padding-right: 1em; // Centers icon
        width: 3.75em;
        height: 100%;
        background-color: $colorTertiary;
        color: #fff;

        &::after {
            @include flexRow;
            content: "\f058"; // Dynamically adds font awesome icon to page
            font-family: "Font Awesome 5 Free"; // Establishes font-type as FA font
            font-size: 1.5em;
            font-weight: 700;
            font-style: normal; // Normalises icon display
            transform: rotate(-180deg); // Spins icon
            transition: 600ms ease-in-out; // Determines speed of animation
        }
    }
}

.menu-btn {
    @include flexRow;
    justify-content: center;
    margin: -2em 0 6.5em 0;

    &-order {
        @include button($padding: 0.8em 4em 0.8em 4em);
    }
}