// This file stores application-wide SASS mixins

// GLOBAL MIXINS
@mixin flexRow($wrap: row wrap) {
    display: flex;
    flex-flow: $wrap;
}

@mixin flexColumn($wrap: column wrap) {
    display: flex;
    flex-flow: $wrap;
}

@mixin button {
    padding: 1em 2em;
    border: none;
    border-radius: 7em;
    background-image: linear-gradient($colorSecondary, $colorPrimary);
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 6px 12px 0 $colorBoxShadow;
    cursor: pointer;

    &:hover {
        transition: $transitionHover;
        filter:brightness(106%);
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        box-shadow: 0 8px 10px 0 $colorBoxShadowEm;
    }
}

@mixin imgCover($borderRadius: 1.2em 1.2em 0 0) {
    border-radius: $borderRadius;
    object-fit: cover;
    width: 100%;
    height: 16.5em;
}

@mixin likeButton($margin: 0 20px 0 0px) {
    position: relative;
    margin: $margin;
    color: transparent;
    font-size: 2.2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    &::after {
        position: absolute;
        content: "\f004";
        transition: $transitionHover;
        right: 0px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke-color: transparent;
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        opacity: 0;
    }

    &:hover::after {
        opacity: 1;
    }
}
