// This file stores application-wide SASS mixins

// GLOBAL MIXINS
// Flex shortcuts
@mixin flexRow($wrap: row wrap) {
    display: flex;
    flex-flow: $wrap; // Included as argument so I can customise if necessary
}

@mixin flexColumn($wrap: column wrap) {
    display: flex;
    flex-flow: $wrap;
}

// Main button template
@mixin button($padding: 1em 2em, $boxShadow: 0 6px 12px 0 $colorBoxShadow) {
    padding: $padding;
    border: none;
    border-radius: 7em;
    background-image: linear-gradient($colorSecondary, $colorPrimary); // To achieve gradient effect between pink and purple
    font-size: 1.6em;
    font-weight: 400;
    color: #fff;
    box-shadow: $boxShadow;
    cursor: pointer;
    transform: scale(1); // Sets starting-point for hover animation
    transition: transform 400ms;

    &:hover {
        filter:brightness(106%);
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        transform: scale(1.03); // Sets end-point for hover animation
    }
}

// Like button
