// This file stores application-wide SASS mixins

// GLOBAL MIXINS
// Flex shortcuts
@mixin flexRow($wrap: row wrap) {
    display: flex;
    flex-flow: $wrap;
}

@mixin flexColumn($wrap: column wrap) {
    display: flex;
    flex-flow: $wrap;
}

// Main button template
@mixin button($padding: 1em 2em) {
    padding: $padding;
    border: none;
    border-radius: 7em;
    background-image: linear-gradient($colorSecondary, $colorPrimary);
    font-size: 1.6em;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 6px 12px 0 $colorBoxShadow;
    cursor: pointer;

    &:hover {
        filter:brightness(106%);
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        box-shadow: 0 8px 10px 0 $colorBoxShadowEm;
    }
}

// Like button
