// This file stores application-wide SASS variables

// FONTS 
$logoFont: 'Shrikhand', cursive;

// APPLICATION-WIDE COLORS
$colorPrimary: #9356dc;
$colorSecondary: #FF79da;
$colorTertiary: #99e2d0;
$colorLightGrey: #f5f5f5;
$colorBoxShadow: #bfbdbd;
$colorFooter: #323232;