// This file stores application-wide footer styles

//MOBILE FOOTER STYLES
.footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    background-color: $colorFooter;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
        font-family: $logoFont;
        color: #fff;
    }

    &__list {
        list-style-type: none;
        color: #fff;
        
        &-icon {
            margin-right: 10px;
        }

        &-item {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            
            a {
                text-decoration: none;
                color: #fff;
            }
        }    
    }
}
// END MOBILE FOOTER STYLES

// TABLET AND DESKTOP FOOTER STYLES
@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        flex-flow: row wrap;
    
        &__title {
            font-size: 3rem;
            margin-bottom: 0;
        }
    
        &__list {
            width: 100%;

            &-item {
                margin-right: 0.5rem;
                display: inline;
            }    
        }
    }

    #suggest-item {
        color: $colorSecondary;
    }

    #partner-item {
        color: $colorTertiary;        
    }
}
// END TABLET AND DESKTOP FOOTER STYLES