// This file stores application-wide footer styles

.footer {
    @include flexColumn;
    gap: 1em;
    width: 100%;
    padding: 2em;
    background-color: $colorFooter;

    &__title {
        margin-bottom: 1em;
        font-size: 1.6em;
        letter-spacing: 0.05em;
        font-family: $logoFont;
        color: #fff;
    }

    &__list {
        list-style-type: none;
        color: #fff;
        
        &-icon {
            margin-right: 10px;
        }

        &-item {
            font-size: 1.5em;
            margin-bottom: 0.5em;
            
            a {
                text-decoration: none;
                color: #fff;
            }
        }    
    }
}

// TABLET AND DESKTOP FOOTER STYLING
@media screen and (min-width: 768px) {
    .footer {
        @include flexRow;
    
        &__title {
            font-size: 3em;
            margin-bottom: 0;
        }
    
        &__list {
            width: 100%;

            &-item {
                margin-right: 0.5em;
                display: inline;
            }    
        }
    }

    #suggest-item {
        color: $colorSecondary;
    }

    #partner-item {
        color: $colorTertiary;        
    }
}