// This file stores application-wide header styles

// HOME HEADER SECTION STYLES
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 30px 0 30px 0;
    background-color: #fff;

    &__logo {
        width: 16rem;
        height: fit-content;
    }

}
// END HOME HEADER SECTION STYLES

// MENU HEADER STYLES
// MENU HEADER MOBILE STYLES
.header-menu { 
    padding: 1.8rem 10rem 1.3rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    a {
        text-decoration: none;
        color: #000;
    }

    &__icon {
        font-size: 2.1rem;
    }

    &__logo {
        text-align: center;
        width: 15rem;
        height: 2.7rem;
    }
}
// END MENU HEADER MOBILE STYLES

// MENU HEADER TABLET AND DESKTOP STYLES
@media screen and (min-width: 768px) {
    .header-menu { 
        justify-content: space-between;
        align-items: center;
        padding-right: 2.5rem;

        &__logo {
            padding: 0;
        }
            
    }
}
// END MENU HEADER TABLET AND DESKTOP STYLES
