// This file stores application-wide header styles

// HOME PAGE
// HEADER SECTION
.header {
    @include flexRow;
    justify-content: center;
    margin: 20px 0 18px 0;

    &__logo {
        width: 16em;
        height: 3em;
    }

}

