// This file stores application-wide header styles

// HOME HEADER SECTION STYLING
// MOBILE STYLING
.header {
    @include flexRow;
    justify-content: center;
    padding: 1.9em 0 1.9em 0;
    background-color: #fff;

    &__logo {
        width: 16em;
        height: fit-content;
    }

}
// END HOME HEADER SECTION STYLING

// MENU HEADER STYLING
.header-menu { 
    padding: 1.8em 10em 1.3em 2em;
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    a {
        text-decoration: none;
        color: #000;
    }

    &__icon {
        font-size: 2.1em;
    }

    &__logo {
        text-align: center;
        width: 15em;
        height: 2.7em;
    }
}

// TABLET AND DESKTOP MENU HEADER STYLING
@media screen and (min-width: 768px) {
    .header-menu { 
        justify-content: space-between;
        align-items: center;
        padding-right: 2.5em;

        &__logo {
            padding: 0;
        }
            
    }
}
// END MENU HEADER STYLING
